@font-face {
  font-family: 'TT Norms Pro';
  src: local("TT Norms Pro Thin"), local("TT-Norms-Pro-Thin"), url("../assets/fonts/TTNormsPro-Thin.woff2") format("woff2"), url("../assets/fonts/TTNormsPro-Thin.woff") format("woff"), url("../assets/fonts/TTNormsPro-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'TT Norms';
  src: url("../assets/fonts/TTNorms-Bold.eot");
  src: url("../assets/fonts/TTNorms-Bold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/TTNorms-Bold.woff2") format("woff2"), url("../assets/fonts/TTNorms-Bold.woff") format("woff"), url("../assets/fonts/TTNorms-Bold.ttf") format("truetype"), url("../assets/fonts/TTNorms-Bold.svg#TTNorms-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Norms normal';
  src: url("../assets/fonts/TTNorms-Regular.eot");
  src: url("../assets/fonts/TTNorms-Regular.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/TTNorms-Regular.woff2") format("woff2"), url("../assets/fonts/TTNorms-Regular.woff") format("woff"), url("../assets/fonts/TTNorms-Regular.ttf") format("truetype"), url("../assets/fonts/TTNorms-Regular.svg#TTNorms-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

*, html, body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  font-family: 'TT Norms normal';
}





.wrapper {
  width: 100%;
}

header {
  width: 100%;
  margin: 0 auto;
  top: 0;
  padding: 50px 60px 0;
  position: fixed;
  z-index: 2;
  background: white;
  opacity: .85;
}

header .logo-container {
  width: 50%;

}

header .navigation-container {
  width: 50%;
  position: relative;
}

.btn-outline-primary:hover {
  background: none;
}

.btn-outline-primary {
  border: none;
  width: 29px;
  height: 24px;
  font-size: 12px;
  padding: 0;
  padding-top: 3px;
  margin: 0;
  color: #B3B3BA;
}

.btn-check:checked + .btn-outline-primary {
  background-color: #F0145A;
  border-color: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.btn-group > .btn-group:not(:last-child) > .btn, .btn-group > .btn:not(:last-child):not(.dropdown-toggle) {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-radius: 8px;
}

.btn-group > .btn:nth-child(n+3), .btn-group > :not(.btn-check) + .btn {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-radius: 8px;
}

.navbar {
  margin-top: 19px;
  background: gainsboro;
}

.navbar .menu_ul .menu_li {
  margin-left: 15px;
  display: block;
}

.navbar .menu_ul .menu_li a {
  font-size: 18px;
  line-height: 21px;
}
.a_LOGO{
  color: #323264;
  font-size: 38px;
line-height: 45px;
text-decoration: none;
font-family: "TT Norms normal"; 
}
.span_logo{
  color: #B3B3BA;
  
}
.logo_a{
  font-size: 21px;
  line-height: 30px;
  color: #46466E;
  font-family: "TT Norms normal";
  text-decoration: none;
  width: 100%;

}
.nav-link{
font-size: 18px;
line-height: 21px;
color: #24A3FF !important;


}
.active_1{
  color: #F0145A !important;
  border-bottom: 2px solid #F0145A;
  padding-left: 0!important;
  padding-right: 0!important;
  margin-right: 8px;
  padding-bottom: 0;

  
}


.block_1{
  min-height: 853px;
  width: 100%;
}
.section{
  width:75%;
  min-height: 853px;
  margin: 0 auto;
  padding-top: 177px;
  padding-top: 197px;

}

h4 {
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f0145a), to(#ef8080));
  background-image: linear-gradient(#f0145a, #ef8080);
  font-size: 32px;
  line-height: 38px;
  font-family: 'TT Norms';
  padding: 20px;
  
  
}
.logo_a_1{
  font-size: 16px;
line-height: 19px;
text-align: right;
color: #B3B3BA;
font-family: 'TT Norms';
text-decoration: none;
}
.a_imf_fc{
  font-size: 12px;
line-height: 16px;
letter-spacing: 1px;
text-transform: uppercase;
color: #24A3FF;
text-decoration: none;

}
.a_imf_fc::before{
content: url(../assets/img/Vector10_1.png);
width: 32px;
height: 32px;
margin-right: 10px;
}
.imf_1{
  height: 298px;

}
.a_block_1{
  font-size: 21px;
  line-height: 30px;
  color: #24A3FF; 
  text-decoration: none;
  margin-top: 5px;
  
  
}
.border_imf{
  border-top: 4px solid #E6E6F0;
  padding-top: 40px;
  border-bottom: 4px solid #E6E6F0;
  padding-bottom: 40px;
  height: 160px;

}
.border_imf_1{
width: 60%;
height: 80px;


}
.p_imf_1{
  font-size: 21px;
line-height: 30px;
color: #323264;
margin: 0;
}
.box_send{
  height: 576px;
  background: #F5F5FA;
border-radius: 12px;


  

}
.textarea{
  height: 180px;
}
.span{
  padding-left: 30px;
  font-size: 14px;
line-height: 17px;
letter-spacing: 1px;
text-transform: uppercase;
color: #B3B3BA;
}
.inm_content_1{
  width: 50%;
  
}
.content_1{
  width: 100%;
}
.inm_content_2{
  width: 50%;
  
}
.input{
  width: 90%;
  margin: 0 auto;
  border: none!important;
}
.input_1{
  height: 47px;
  font-size: 18px;
  line-height: 26px;
  color: #B3B3BA;


}
.form-control{
  border: none!important;
}
.button_1{
  background: #24A3FF;
box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
border-radius: 12px;
padding: 16px 17px;
width: 250px;
height:50px;
margin: 20px;
border: none;
color: #fff;
}
.block_2{
  width: 100%;

}

.block_5 {
  height: 151px;
  width: 100%;
  z-index: 3;
  position: relative;
  background: #F5F5FA;
  border-radius: 0px 0px 12px 12px;
}

footer {
  width: 93%;
  height: 151px;
  margin: 0 auto;
  padding: 30px 0 40px;
}

footer .footer_box_1 {
  width: 35%;
  height: 79px;
}

footer .footer_box_1 span {
  font-size: 16px;
  line-height: 19px;
  font-family: 'TT Norms normal';
  color: #323264;
}

footer .footer_box_1 a {
  font-size: 16px;
  line-height: 19px;
  font-family: 'TT Norms normal';
  color: #323264;
}

footer .footer_box_2 {
  width: 25%;
}

footer .footer_box_2 span {
  color: #B3B3BA;
  font-size: 16px;
  line-height: 19px;
  font-family: 'TT Norms normal';
}

.footer_text {
  color: #24A3FF !important;
  text-decoration: none;
  font-family: 'TT Norms';
  font-size: 12px !important;
  line-height: 14px !important;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.box_footer {
  width: 95%;
}

.box_footer .footer_text_1 {
  color: #24A3FF !important;
  text-decoration: none !important;
  font-family: 'TT Norms';
  font-size: 16px;
  line-height: 19px;
}

.box_footer a {
  font-family: "TT Norms" !important;
  text-decoration: none;
}

.text_content_b4 {
  padding-top: 35px;
}
