@font-face {
  font-family: 'TT Norms Pro';
  src: local('TT Norms Pro Thin'), local('TT-Norms-Pro-Thin'),
      url('../assets/fonts/TTNormsPro-Thin.woff2') format('woff2'),
      url('../assets/fonts/TTNormsPro-Thin.woff') format('woff'),
      url('../assets/fonts/TTNormsPro-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'TT Norms';
  src: url('../assets/fonts/TTNorms-Bold.eot');
  src: url('../assets/fonts/TTNorms-Bold.eot?#iefix') format('embedded-opentype'),
      url('../assets/fonts/TTNorms-Bold.woff2') format('woff2'),
      url('../assets/fonts/TTNorms-Bold.woff') format('woff'),
      url('../assets/fonts/TTNorms-Bold.ttf') format('truetype'),
      url('../assets/fonts/TTNorms-Bold.svg#TTNorms-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'TT Norms normal';
  src: url('../assets/fonts/TTNorms-Regular.eot');
  src: url('../assets/fonts/TTNorms-Regular.eot?#iefix') format('embedded-opentype'),
      url('../assets/fonts/TTNorms-Regular.woff2') format('woff2'),
      url('../assets/fonts/TTNorms-Regular.woff') format('woff'),
      url('../assets/fonts/TTNorms-Regular.ttf') format('truetype'),
      url('../assets/fonts/TTNorms-Regular.svg#TTNorms-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

*, html, body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: 'TT Norms normal';
 
  
}
span{
  font-size: 16px;
  font-family: 'TT Norms Pro';
}
.wrapper{
  width: 100%;


}

header{
  width: 100%;
  margin: 0 auto;
  top: 0;
  opacity:.85;
  padding: 50px 60px 0;
  top: 0;
  opacity:.65;
  position: fixed;
  background: linear-gradient(42.01deg, #323264 5%, #323264 25%, #7A425E 83% ) ;
  z-index: 2;

  

  .logo-container{
    width: 50%;
    

  
  }
  .navigation-container {
    width: 50%;
    position: relative;
    
  }

}

.btn-outline-primary:hover{
  background: none;

}
.btn-outline-primary{
  border: none;
  width: 29px;
  height: 24px;
  font-size: 12px;
  padding: 0;
  padding-top: 3px;
  margin: 0;
  color: white;

  
 
 
}
.btn-check:checked+.btn-outline-primary{
  background-color: #F0145A;
  border-color: none;
  box-shadow: none;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;

}
.btn-group>.btn-group:not(:last-child)>.btn, .btn-group>.btn:not(:last-child):not(.dropdown-toggle) {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-radius: 8px;
}
.btn-group>.btn:nth-child(n+3), .btn-group>:not(.btn-check)+.btn{

  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-radius: 8px;
}

.navbar{
  margin-top: 19px;
  background: gainsboro;
.menu_ul{

.menu_li{
  margin-left: 15px;
  display: block;
  a{
    font-size: 18px;
    line-height: 21px;
  }
}
}
}
main{
  width: 100%;

.block-1{
  width: 100%;
  background: linear-gradient(42.01deg, #323264 14.33%, #323264 51.39%, #7A425E 87.53%);
.section_1{
min-height: 800px;

.container-fluid{

  background: url(../assets/img/Frame2.png) no-repeat center bottom;
}
.container_img{
  height: 800px;
  background: url(../assets/img/SymbolLongleg.png) no-repeat center bottom;
  .container_img_1{
    height: 800px;
    
  h1{
  font-size: 38px;
  text-align: center;
  margin-top: 358px;
  
}
.a_box{
  width: 100%;
  height: 200px;
  background: linear-gradient(180deg, rgba(50, 50, 100, 0) 16.67%, #323264 100%);
  
  


a{
  margin-bottom: 20px;
  border: 1px solid rgba($color: #ffffff, $alpha: 0.5);
  width: 42px;
  height: 42px;
  box-sizing: border-box;
  border: 1px solid rgba($color: #ffffff, $alpha: 0.5);
  border-radius: 50%;
  text-align: center;
  background: url(../assets/img/Vector2.png) no-repeat center;
}
  }
}
}
}
}



 .block-2{
width: 100%;
min-height: 1400px;


  }
  .block-2_1{
    width: 100%;
    background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
    border-radius: 0px 0px 12px 12px;
    height: 1374px;
    
  
    .section_2{
width: 93%;
margin: 0 auto;
     
  

.align-items-start{
  width: 80%;
  padding-top: 80px;
  margin: 0 auto;
}

.nav{
  width: 40%;
}
.nav-pills .nav-link {
  background: 0 0;
  border: 0;
  border-radius: 0;
  border-right: 4px solid rgba(230, 230, 240, 1);
  font-size: 42px;
  line-height: 50px;
  color: #B3B3BA;
  font-family: 'TT Norms';
  padding-right: 40px;
  text-align: end;
  
  
&:focus{
  border-right: 4px solid #F0145A;
  
}
}
}
.tab-content{
  padding-left: 24px;
  padding-top: 40px;
  width: 60%;
  font-family: 'TT Norms';

  h3{
    font-size: 32px;
    line-height: 38px;
    color: white;
  }
  p{
    font-size: 21px;
    line-height: 30px;
    color: white;
  }
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link .gradient {
	color: transparent;    
	-webkit-background-clip: text;
	background-clip: text;
	background-image: linear-gradient(rgba(239, 128, 128, 1), rgba(240, 20, 90, 1));
  font-size: 42px;
  line-height: 50px;
  font-family: 'TT Norms';
  border-right: 4px solid #F0145A;
  padding: 0;
  padding-right: 40px;

  
  
}  
 }
 .text_section_2{
 margin: 80px auto 0;
   .a_text{
    opacity: 0.5;
    font-size: 14px;
line-height: 17px;
letter-spacing: 1px;
text-transform: uppercase;
font-family: 'TT Norms';
text-decoration: none;
color: #FFFFFF;
&::after{
  content: url(../assets/img/Liinkarrow.png);
  
}
   }
 h3{
  color: transparent;    
	-webkit-background-clip: text;
	background-clip: text;
	background-image: linear-gradient(rgba(240, 20, 90, 1), rgba(239, 128, 128, 1));
  font-size: 42px;
  line-height: 50px;
  font-family: 'TT Norms';
  
 }
}
.box_content{

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 68px;
  height: 684px;


.box_text{
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  





.box_img{
  background: #FFFFFF;
border-radius: 24px;
width: 92px;
height: 92px;
text-align: center;

  img{
    padding: 14px;
  }
}
 .box_a_text{
    text-decoration: none;
    font-size: 24px;
    line-height: 28px;
    color: #24A3FF;
  }
  .box_p_text{
    font-size: 18px;
    line-height: 26px;
    color: #FFFFFF;
    margin: 0;
  }
}
}
.box_text_1{
  height: 285px;
}
.box_text_2{
  height: 313px;
}
.box_text_3{
  height: 261px;

}
}
.block_2_container_back{
&::before{
content: "1";
font-size: 1px;
background: #CACADB;
border-radius: 0px 0px 12px 12px;
margin: 0 auto;
display: block;
height: 10px;
width: 95%;
}
&::after{
  content: "1";
  font-size: 1px;
  background: #E7E7F2;
border-radius: 0px 0px 12px 12px;
  margin: 0 auto;
  display: block;
  height: 10px;
  width: 90%;
  }
}

.block_3{
  width: 100%;
  min-height: 1508px;
 
  .section_3{
    width: 93%;
    margin: 0 auto;
  }
}
.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot {
  background: 0 0;
  color: inherit;
  border: none;
  padding: 0!important;
  font: inherit;
  display: none;
}
.owl-item{
  height: 501px;
  background: #F5F5FA;
  border-radius: 12px;
}
.img_owl{
  width: 35%;
  height: 501px;
  img{
    width: 100%;
    height: 100%;
  }
}
.text_owl{
  width: 65%;
  padding: 40px 40px 173px 40px;
  h3{
    color: transparent;    
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(rgba(240, 20, 90, 1), rgba(239, 128, 128, 1));
    font-size: 42px;
    line-height: 50px;
    font-family: 'TT Norms';
    
   }
   .a_text_1{
    font-size: 14px;
    line-height: 17px;
    color: #24A3FF;
    font-family: 'TT Norms';
    text-transform: uppercase;
    text-decoration: none;
    &::after{
      content: url(../assets/img/Vector3.png) ;
      
    }
    .span_1{
      font-size: 18px;
      line-height: 21px;
      color: #B3B3BA;
     
    }
    .span_2{
      font-size: 16px;
      line-height: 22px;
      color: #B3B3BA;
    }
   }
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #24A3FF;
}
.owl-theme .owl-dots .owl-dot span {
 
  background: rgba(211, 237, 255, 1);
 
}
.section_3_1{
  width: 93%;
  margin: 0 auto;
.angry-grid {
  display: grid; 
  grid-template-rows: 57px 198px 198px;
  grid-template-columns: 320px 113px 320px 134px 1fr;
  gap: 1px;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  

  
  
  
}
#item-0 {

  grid-row-start: 1;
  grid-column-start: 1;
  grid-row-end: 2;
  grid-column-end: 3;
  background: #F5F5FA;
  .item-0-p{
    font-size: 14px;
    line-height: 17px;
    color: transparent;    
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(rgba(240, 20, 90, 1), rgba(239, 128, 128, 1));
    letter-spacing: 1px;
    text-transform: uppercase; 
    padding: 20px 280px 20px 20px; 
    margin: 0;  
    font-family: 'TT Norms';
  }
}

#item-1 {
 
  grid-row-start: 2;
  grid-column-start: 1;
  grid-row-end: 3;
  grid-column-end: 3;
  background: #F5F5FA;
  padding: 0 20px;

  
  .item-1-p{
    font-size: 24px;
    line-height: 28px;
    margin: 0;  
    color: #686887;
   
  }
  .item-1-span{
    color: #B3B3BA;
  }

  
}
#item-2 {

  grid-row-start: 3;
  grid-column-start: 1;
  grid-row-end: 4;
  grid-column-end: 2;
  background: #F5F5FA;
  padding: 0 20px;
  .item-2-p{
    font-size: 24px;
    line-height: 28px;
    margin: 0;  
    color: #686887;
   
  }
  .item-2-span{
    color: #B3B3BA;

  }
  
}
#item-3 {

  grid-row-start: 3;
  grid-column-start: 2;
  grid-row-end: 4;
  grid-column-end: 4;
  background: #F5F5FA;
  padding: 57px 20px 0;

  .item-3-p{
    font-size: 24px;
    line-height: 28px;
    margin: 0;  
    color: #686887;
   
  }
  .item-3-span{
    color: #B3B3BA;

  }
  
}
#item-4 {

  grid-row-start: 1;
  grid-column-start: 3;
  grid-row-end: 3;
  grid-column-end: 5;
  background: #F5F5FA;
  padding: 57px 20px 0;
  .item-4-p{
    font-size: 24px;
    line-height: 28px;
    margin: 0;  
    color: #686887;
   
  }
  .item-4-span{
    color: #B3B3BA;

  }
}
#item-5 {
 
  grid-row-start: 1;
  grid-column-start: 5;
  grid-row-end: 3;
  grid-column-end: 6;
  background: #F5F5FA;
  padding: 57px 20px 0;
  .item-5-p{
    font-size: 24px;
    line-height: 28px;
    margin: 0;  
    color: #686887;
   
  }
  .item-5-span{
    color: #B3B3BA;

  }
}
#item-6 {

  grid-row-start: 3;
  grid-column-start: 4;
  grid-row-end: 4;
  grid-column-end: 6;
  background: #F5F5FA;
  padding: 57px 20px 0;
  .item-6-p{
    font-size: 24px;
    line-height: 28px;
    margin: 0;  
    color: #686887;
   
  }
  .item-6-span{
    color: #B3B3BA;

  }
}
}
.section_3_2{
width: 93%;
margin: 0 auto;

.span_block_3{
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #323264;
  font-family: 'TT Norms';
  justify-content: center;
  display: flex;
}
.box-grid {
  display: grid; 
  grid-template-rows: 120px 120px 120px;
  grid-template-columns: 1fr 1fr 1fr 1fr  ;
  gap: 0px;
  margin-top: 30px;
  
  
}
#item-0_0 {
background: #1C4280;
  
}
#item-1_1 {
background: #143646;

  
}
#item-2_2 {
  background: #F48B30;
  
}
#item-3_3 {
  background: #9E4DC3;
 
  
}
#item-4_4 {

  background: #FD9339;
  
}
#item-5_5 {

  background: #E2E2E4;

  
  
}
#item-6_6 {

  background: #C71C36;
 
}
#item-7_7 {

  background: #DCF3F9;
  
  
}
#item-8_8 {
  background: #EAEAEA;
  
}
#item-9_9 {

  background: #282240;

  
}
#item-10_10 {
  background: #1D4568;
  
}
#item-11_11 {
  background: #000000;
  
}
}
.block_4{
  width: 100%;
  min-height: 872px;
  background: #F5F5FA;
  position: relative;
  
 
  .section_4{
    width: 93%;
    min-height: 872px;
    margin: auto;
    
    a{
      font-size: 14px;
      line-height: 17px;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: #24A3FF; 
      text-decoration: none;
      font-family: "TT Norms";
    }
    h3{
      color: transparent;    
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(rgba(240, 20, 90, 1), rgba(239, 128, 128, 1));
    font-family: "TT Norms";
    font-size: 42px;
line-height: 50px;
  }
  }


.box_content{
width: 30%;
height: 720px;

.box_b_1{
  width: 100%;
  height: 265px;
  background: #FFFFFF;
  border-radius: 8px;
  
  .content_box_b_1{
    padding: 20px 0;
    margin: 0 20px;
    border-bottom: 4px solid #E6E6F0;
    .a_box_b_1{
      color: #24A3FF;
      font-size: 18px;
    line-height: 21px;
    text-decoration: none;
    }
    .span_box_b_1{
      font-size: 12px;
line-height: 14px;
letter-spacing: 1px;
text-transform: uppercase;
color: #B3B3BA;
font-family: "TT Norms";
margin-top: 10px;

    }
  }
  .p_box_b_1{
    padding: 20px;
    font-size: 16px;
    line-height: 22px;
  }
}

.box_b_2{
  width: 100%;
  height: 415px;
  background: #FFFFFF;
  border-radius: 8px;
  .box_b_img{
    img{
      width: 100%;
      height: 233px;
    }
  }
  .content_box_b_1{
    padding: 20px 0;
    margin: 0 20px;
    border-bottom: 4px solid #E6E6F0;
    .a_box_b_1{
      color: #24A3FF;
      font-size: 18px;
    line-height: 21px;
    text-decoration: none;
    }
    .span_box_b_1{
      font-size: 12px;
line-height: 14px;
letter-spacing: 1px;
text-transform: uppercase;
color: #B3B3BA;
font-family: "TT Norms";
margin-top: 10px;

    }
  }
  .p_box_b_1{
    padding: 20px;
    font-size: 16px;
    line-height: 22px;
  }
}
}

.box_b_3{
  width: 100%;
  height: 420px;
  background: #FFFFFF;
  border-radius: 8px;
  .box_b_img{
    img{
      width: 100%;
    }
  }
  .content_box_b_1{
    padding: 20px 0;
    margin: 0 20px;
    border-bottom: 4px solid #E6E6F0;
    .a_box_b_1{
      color: #24A3FF;
      font-size: 18px;
    line-height: 21px;
    text-decoration: none;
    }
    .span_box_b_1{
      font-size: 12px;
line-height: 14px;
letter-spacing: 1px;
text-transform: uppercase;
color: #B3B3BA;
font-family: "TT Norms";
margin-top: 10px;

    }
  }
  .p_box_b_1{
    padding: 20px;
    font-size: 16px;
    line-height: 22px;
  }
}
}
.box_b_4{
  width: 100%;
  height: 262px;
  background: #FFFFFF;
  border-radius: 8px;
  margin-bottom: 27px;
  position: relative;
  
  
  
  .box_b_img{
    background: url(../assets/img/image-1-3.png) no-repeat;
    background-size: 100%;
    height: 233px;
    padding: 160px 50px;
    
    
    
    button{
      width: 100%;
      padding: 16px 0 17px;
      width:70%;
      height: 50px;
      text-align: center;
      font-size: 14px;
line-height: 17px;
color: #FFFFFF;
background: #24A3FF;
box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
border-radius: 12px;
border: none;
font-family: "TT Norms";
position: absolute;
z-index: 5;


    
      
    }
  }
  .content_box_b_1{
    padding: 20px 0;
    margin: 0 20px;
    border-bottom: 4px solid #E6E6F0;
    .a_box_b_1{
      color: #24A3FF;
      font-size: 18px;
    line-height: 21px;
    text-decoration: none;
    }
    .span_box_b_1{
      font-size: 12px;
line-height: 14px;
letter-spacing: 1px;
text-transform: uppercase;
color: #B3B3BA;
font-family: "TT Norms";
margin-top: 10px;

    }
  }
  .p_box_b_1{
    padding: 20px;
    font-size: 16px;
    line-height: 22px;
  }
}
.box_b_5{
  width: 100%;
  height: 462px;
  background: #FFFFFF;
  border-radius: 8px;
  
  .box_b_img{
    img{
      width: 100%;
    }
    
  }
  .content_box_b_1{
    padding: 20px 0;
    margin: 0 20px;
    border-bottom: 4px solid #E6E6F0;
    .a_box_b_1{
      color: #24A3FF;
      font-size: 18px;
    line-height: 21px;
    text-decoration: none;
    }
    .span_box_b_1{
      font-size: 12px;
line-height: 14px;
letter-spacing: 1px;
text-transform: uppercase;
color: #B3B3BA;
font-family: "TT Norms";
margin-top: 10px;

    }
  }
  .p_box_b_1{
    padding: 20px;
    font-size: 16px;
    line-height: 22px;
  }
}

.box_b_6{
  width: 100%;
  height: 213px;
  background: #FFFFFF;
  border-radius: 8px;
  
  .box_b_img_1{
    img{
      width: 100%;
      height: 233px;
    }
  }
  .content_box_b_1{
    padding: 20px 0;
    margin: 0 20px;
    border-bottom: 4px solid #E6E6F0;
    .a_box_b_1{
      color: #24A3FF;
      font-size: 18px;
    line-height: 21px;
    text-decoration: none;
    }
    .span_box_b_1{
      font-size: 12px;
line-height: 14px;
letter-spacing: 1px;
text-transform: uppercase;
color: #B3B3BA;
font-family: "TT Norms";
margin-top: 10px;

    }
  }
  .p_box_b_1{
    padding: 20px;
    font-size: 16px;
    line-height: 22px;
  }
}
.gradient{
  position: absolute;
  height: 250px;
 width: 93%;
  bottom:0;
  background: linear-gradient(180deg, rgba(245, 245, 250, 0) 0%, #F5F5FA 86.5%);
}



.block_5{
  background: brown;
  height: 151px;
  width: 100%;
  z-index: 3;
  position: relative;
  background: #F5F5FA;
border-radius: 0px 0px 12px 12px;

}
footer{
  width: 93%;
  height: 151px;
  margin: 0 auto;
  padding: 30px 0 40px;
  .footer_box_1{
    width: 35%;
    height: 79px;
    span{
      font-size: 16px;
      line-height: 19px;
      font-family: 'TT Norms normal';
      color: #323264;
    }
    a{
      font-size: 16px;
      line-height: 19px;
      font-family: 'TT Norms normal';
      color: #323264;
    }
  }
  .footer_box_2{
    width: 25%;
    span{
      color: #B3B3BA;
      font-size: 16px;
      line-height: 19px;
      font-family: 'TT Norms normal';
    }
  }
}
.footer_text{
  color: #24A3FF !important;
  text-decoration: none;
  font-family: 'TT Norms';
  font-size: 12px !important;
line-height: 14px !important;
letter-spacing: 1px;
text-transform: uppercase;

}
.box_footer{
  width: 95%;
  .footer_text_1{
    color: #24A3FF !important;
    text-decoration: none;
    font-family: 'TT Norms';
    font-size: 16px;
line-height: 19px;
  
  }
  a{
    font-family: 'TT Norms'!important; 
    text-decoration: none;
  }
}
.text_content_b4{
  padding-top: 35px;
}

