@font-face {
    font-family: 'TT Norms';
    src: url('../assets/fonts/TTNorms-Bold.eot');
    src: url('../assets/fonts/TTNorms-Bold.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/TTNorms-Bold.woff2') format('woff2'),
        url('../assets/fonts/TTNorms-Bold.woff') format('woff'),
        url('../assets/fonts/TTNorms-Bold.ttf') format('truetype'),
        url('../assets/fonts/TTNorms-Bold.svg#TTNorms-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

